import java.util.*;
/**
 * <a href="">
 * </a>
 */
public class Codeforces {
    public static void codeforces () {
    }
    public static void main (String[] args) {
	Scanner s = new Scanner (System.in);
	int t = s.nextInt ();
	while (t-- > 0) {
	    
	}
    }
}
